[submodule "reg/g/pcds/pyps/apps/ioc/latest"]
	path = reg/g/pcds/pyps/apps/ioc/latest
	url = https://github.com/pcdshub/IocManager
[submodule "reg/d/iocCommon/rhel7-x86_64"]
	path = reg/d/iocCommon/rhel7-x86_64
	url = git@github.com:pcdshub/iocCommon-rhel7
[submodule "reg/g/pcds/setup"]
	path = reg/g/pcds/setup
	url = git@github.com:pcdshub/epics-setup
[submodule "reg/g/pcds/pyps/config"]
	path = reg/g/pcds/pyps/config
	url = https://github.com/pcdshub/epics-config
