[submodule "reg/g/pcds/pyps/apps/ioc/latest"]
	path = reg/g/pcds/pyps/apps/ioc/latest
	url = https://github.com/pcdshub/IocManager
[submodule "reg/d/iocCommon/rhel7-x86_64"]
	path = reg/d/iocCommon/rhel7-x86_64
	url = https://github.com/pcdshub/iocCommon-rhel7
[submodule "reg/g/pcds/setup"]
	path = reg/g/pcds/setup
	url = git@github.com:pcdshub/epics-setup
[submodule "reg/g/pcds/pyps/config"]
	path = reg/g/pcds/pyps/config
	url = https://github.com/pcdshub/epics-config
[submodule "reg/d/iocCommon/All"]
	path = reg/d/iocCommon/All
	url = https://github.com/pcdshub/iocCommon-All
[submodule "reg/d/iocCommon/hosts"]
	path = reg/d/iocCommon/hosts
	url = https://github.com/pcdshub/iocCommon-hosts
[submodule "reg/g/pcds/config"]
	path = reg/g/pcds/config
	url = https://github.com/pcdshub/epics-config
[submodule "reg/g/pcds/gateway"]
	path = reg/g/pcds/gateway
	url = https://github.com/pcdshub/gateway-setup
[submodule "reg/g/pcds/pyps/apps/hutch-python/device_config"]
	path = reg/g/pcds/pyps/apps/hutch-python/device_config
	url = https://github.com/pcdshub/device_config
[submodule "reg/g/pcds/pyps/apps/hutch-python/lucid_config"]
	path = reg/g/pcds/pyps/apps/hutch-python/lucid_config
	url = https://github.com/pcdshub/lucid_config/
[submodule "reg/g/pcds/pyps/apps/hutch-python/mec"]
	path = reg/g/pcds/pyps/apps/hutch-python/mec
	url = https://github.com/pcdshub/mec
[submodule "reg/g/pcds/pyps/apps/hutch-python/mfx"]
	path = reg/g/pcds/pyps/apps/hutch-python/mfx
	url = https://github.com/pcdshub/mfx
[submodule "reg/g/pcds/pyps/apps/hutch-python/xpp"]
	path = reg/g/pcds/pyps/apps/hutch-python/xpp
	url = https://github.com/pcdshub/xpp
[submodule "reg/g/pcds/pyps/apps/hutch-python/rix"]
	path = reg/g/pcds/pyps/apps/hutch-python/rix
	url = https://github.com/pcdshub/rix
[submodule "reg/g/pcds/pyps/apps/hutch-python/cxi"]
	path = reg/g/pcds/pyps/apps/hutch-python/cxi
	url = https://github.com/pcdshub/cxi
[submodule "reg/g/pcds/pyps/apps/hutch-python/sxr"]
	path = reg/g/pcds/pyps/apps/hutch-python/sxr
	url = https://github.com/pcdshub/sxr
[submodule "reg/g/pcds/pyps/apps/hutch-python/tmo"]
	path = reg/g/pcds/pyps/apps/hutch-python/tmo
	url = https://github.com/pcdshub/tmo
[submodule "reg/g/pcds/pyps/apps/hutch-python/ued"]
	path = reg/g/pcds/pyps/apps/hutch-python/ued
	url = https://github.com/pcdshub/ued
[submodule "reg/g/pcds/pyps/apps/hutch-python/xcs"]
	path = reg/g/pcds/pyps/apps/hutch-python/xcs
	url = https://github.com/pcdshub/xcs
[submodule "reg/g/pcds/pyps/apps/hutch-python/Bug-Reports"]
	path = reg/g/pcds/pyps/apps/hutch-python/Bug-Reports
	url = https://github.com/pcdshub/Bug-Reports
[submodule "reg/g/pcds/pyps/apps/hutch-python/amo"]
	path = reg/g/pcds/pyps/apps/hutch-python/amo
	url = https://github.com/pcdshub/amo
[submodule "reg/g/pcds/pkg_mgr/release/controls-basic-0.0.1"]
	path = reg/g/pcds/pkg_mgr/release/controls-basic-0.0.1
	url = https://github.com/pcdshub/pspkg-controls-basic
	branch = R0.0.1
[submodule "reg/g/pcds/common/tools/bin"]
	path = reg/g/pcds/common/tools/bin
	url = git@github.com:pcdshub/common-tools-bin
[submodule "cds/home/username/dotfiles"]
	path = cds/home/username/dotfiles
	url = git@github.com:pcdshub/shared-dotfiles
